<a href="https://colab.research.google.com/github/laolucharles1/Web-scraping-practice/blob/main/Webscraping_Practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

In [ ]:
#Website of interest
url = "https://keithgalli.github.io/web-scraping/webpage.html"

#this is how you get access to the website. if response = 200, then the access was granted
r = requests.get(url)

webpage = bs(r.content)


print(webpage.prettify())

##Task 1: Grab all of the social links from the webpage

## Reference for Select Function: https://www.w3schools.com/cssref/css_selectors.php

In [4]:
# Method 1
#Elements are always in purple

social = webpage.find('ul', attrs= {"class": "socials"})
s = social.find_all('a')
s

links = [s['href'] for s in s]
links

['https://www.instagram.com/keithgalli/',
 'https://twitter.com/keithgalli',
 'https://www.linkedin.com/in/keithgalli/',
 'https://www.tiktok.com/@keithgalli']

In [5]:
#Method 2
scl = webpage.select("ul.socials a")
link = [scl['href'] for scl in scl]
link

['https://www.instagram.com/keithgalli/',
 'https://twitter.com/keithgalli',
 'https://www.linkedin.com/in/keithgalli/',
 'https://www.tiktok.com/@keithgalli']

In [6]:
#Method 3

SL = webpage.select("li.social a")
linky = [SL['href'] for SL in SL]
linky

['https://www.instagram.com/keithgalli/',
 'https://twitter.com/keithgalli',
 'https://www.linkedin.com/in/keithgalli/',
 'https://www.tiktok.com/@keithgalli']

##Scrape Hockey Table

In [7]:
# Super easy way to turn webpage table into a pandas dataframe
table = webpage.find_all("table")
df = pd.read_html(str(table))[0]
df
#Pandas already has a built-in method to convert the table on the web to a dataframe

,S,Team,League,GP,G,A,TP,PIM,+/-,Unnamed: 9,POST,GP.1,G.1,A.1,TP.1,PIM.1,+/-.1
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17.0,3.0,9.0,12.0,20.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9.0,1.0,1.0,2.0,2.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12.0,5.0,5.0,10.0,8.0,0.0,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-18,Did not play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8.0,5.0,10.0,15.0,8.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Grab all fun facts that use the word "is in it

In [78]:
#Method 1
facts = webpage.select(" ul.fun-facts li")
# ffis = ff.find_all(string = re.compile('is')): This line of code doesn't work because it is not considered a list anymore. To make it work do what is below
facts_with_is = [fact.find(string = re.compile('is')) for fact in facts] # this makes things list comprehensive. Re.compile is super useful for getting the strings; #just need to use find instead of find_all when using for loop
facts_with_is = [fact.find_parent().get_text() for fact in facts_with_is if fact] #include italicized portion

facts_with_is

['Middle name is Ronald',
 'Dunkin Donuts coffee is better than Starbucks',
 "A favorite book series of mine is Ender's Game",
 'Current video game of choice is Rocket League',
 "The band that I've seen the most times live is the Zac Brown Band"]

## Download images

In [94]:

url = "https://keithgalli.github.io/web-scraping/"
r = requests.get(url + "webpage.html")

webpage = bs(r.content)
image = webpage.select("div.row div.column img") #provides method to obtain images
image_url = image[0]['src'] #if there is an equals sign within the statement you can use quotations of what is before the equals sign to obtain the information
full_url = url + image_url


img_data = requests.get(full_url).content
with open('WebscrapgePractice#2image.jpg', 'wb') as handler:
    handler.write(img_data)

## Obtain Secret message from file

In [103]:
from urllib.parse import urlencode
file = webpage.select('div.block a')
relative_files = [f['href'] for f in file]

url = "https://keithgalli.github.io/web-scraping/"
relative_files[1]

a = []
for link in relative_files:
  a.append(url + link)



for link in a:
  lru = link
  r = requests.get(lru)
  apple = bs(r.content)
  secret = apple.find('p', attrs = {"id": "secret-word"}) #Use this and the line of code below to get string value when dealing with an attribute with an equals sign
  secret = secret.string
  print(secret)

Make
sure
to
smash
that
like
button
and
subscribe
!!!